/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$yellow:#ffff00;
$black:#000000;
$white:#FFFFFF;
$gray:#cccccc;


/*-------------------------------------
| menu
-------------------------------------*/
/*.breadcrumbs{

    position: relative;
    right: px;

}*/


/*-------------------------------------
| header
-------------------------------------*/

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.topheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.lowerheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.header1{
    background-color: $yellow;
    color: $black;
    padding: 0px 2px 0px 6px;
    text-align: right;
    height: 63px;

}
.header2{
    background-color: $white;
    color: $black;
    padding:  0px 6px 0px 2px;;
    text-align: left;
    height: 63px;

}
.header3{
    background-color: $black;
    color: $white;
    padding:  Auto;
    text-align: center;
    width: 591px;
    height: 20px;

}

.topheader h1{
    font-weight: regular;
    font-family: helvetica, sans-serif;
    font-size: 48px;
}

/*-------------------------------------
| Description
-------------------------------------*/
.description{
    margin-top: 15px;
}

h3{
    text-decoration: underline;
}
.descriction-cell{
    text-align: justify;
    letter-spacing: .1px;
    word-spacing: .1px;

}

.divider{
    margin-top: 15px;
    background-color: $black
}

.divider2{
    margin-top: 40px;
    background-color: $black
}

.divider3{
    margin-top: 40px;
    background-color: $black
}

/*-------------------------------------
| projects
-------------------------------------*/


.projects-heading{
    margin-top: 20px;
}

.project1a{
    margin-top: 20px;
    background-color: $yellow;
    height: 500px;
    box-shadow: 10px 10px;
    padding: 10px;
}

.project1a h3{
    text-decoration:none;
}
.project1b{
    margin-top: 20px;
    background-color: $black;
    height: 500px;
}

.horizontal1{
    margin-top: 40px;
    background-color: $black;
    height: 500px;
    width: 950px;
}

.four-columns{
    background-color: $yellow;
    padding: 10px;
    box-shadow: 10px 10px;

}

h4{

    font-weight: bolder;
    text-decoration: underline;
}

/*-------------------------------------
| footer
-------------------------------------*/
footer{
    margin-top: 30px;
    color: $white;
    background-color: $black;
    text-align: center;
}

footer p{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}



 /*-------------------------------------
 | Media Queries
 -------------------------------------*/
@media all and (max-width: 768px){

  footer{
      width: 955px;
  }

}

@media all and (max-width: 425px){

    section{
        display: flex;
        
        flex-wrap: wrap;


    }

    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5px;
    }

    .topheader{
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: row;
    }

    .lowerheader{
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: row;
    }

    .topheader h1{
        font-weight: regular;
        font-family: helvetica, sans-serif;
        font-size: 33px;
    }

    .header1{

        background-color: $yellow;
        color: $black;
        padding: 0px 2px 0px 6px;
        text-align: right;
        height: 43px;

    }

    .header2{
        background-color: $white;
        color: $black;
        padding:  0px 6px 0px 2px;;
        text-align: left;
        height: 43px;

    }

    .header3{
        background-color: $black;
        color: $white;
        padding:  Auto;
        text-align: center;
        width: 240px;
        height: 20px;

    }

}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
